<p style="color: green"><%= notice %></p>

<%= render @utterance %>

<div>
  <%= link_to "Edit this utterance", edit_utterance_path(@utterance) %> |
  <%= link_to "Back to utterances", utterances_path %>

  <%= button_to "Destroy this utterance", @utterance, method: :delete %>
</div>
